---
import Layout from "../layouts/Layout.astro";
---

<Layout title="All About Clothes">
  <h2>歡迎來到 All About Clothes</h2>
  <p>我們分享衣物材質、洗滌方法與收納技巧，讓你的衣物用得更久、穿得更好。</p>
  <p><a href="/posts/wool-care">👉 點這裡看：羊毛衣怎麼洗才不會縮水？</a></p>
</Layout>
